<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>惜阅</title>
    <!-- 响应式约束，缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maxinum-scale=1,user-scalable=no">
    <!--通知ie 采用其支持最新模式-->
    <meta http-equiv="x-ua-compatible",content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/xiyue/index.css">
    <script src="../js/jquery-3.1.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row" id="topindex">
        <div class="col-xs-6 col-sm-6 logo pull-left">
            <a href="#">
                <img src="../image/logo.png" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 pull-right">
            <div class="menu">
                <a href="#" target="_blank">首页</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank">内容</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank">活动</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank">联系我们</a>
            </div>
        </div>
    </div>
    <div class="row" id="second">
            <h3 class="ruanwen">阅分享，越拥有</h3>
           <h3 class="ruanwen">Do more share then more have</h3>
        <div class="webchat">
            <img src="../image/wechat_1477556477.png">
             <div>
                <h4 class="text-center">惜阅是一款分享图书的应用，您通过使用惜阅公众号能把自己的书籍和他人分享，</h4>
                <h4 class="text-center">也能看到平台有什么自己喜欢的好书，</h4>
                <h4 class="text-center">互相 借阅，互相学习，共同提升自己</h4>
            </div>
        </div>
    </div>
    <div class="row" id="thrid">
        <div class="pull-left" id="img-mac">
            <img src="../image/图层-6.png">
        </div>
        <!--您知道么？-->
        <div class="pull-right" id="youKwn">
            <h2你知道么?</h2>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>全国每天有多少人看书?</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>全国每天有多少人买书?</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>有多少买书放在家里不看?</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>全国又多少人看完书后扔掉?</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>2015年我国人均阅读纸质书4.58本，你读了几本?</h4>
        </div>
        <!--我们能做-->
        <div class="" id="wecan">
            <h2>我们能做....</h2>
            <h4><span class="glyphicon glyphicon-ok-circle">把自己的纸质书和朋友一起分享，越分享越拥有。</span></h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>能看到朋友或附近的人有什么书，互相借阅吧。</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>加好友或群，和别人一起讨论书籍，交流心得。</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>把这种分享图书的方法告诉朋友，创建大家的免费纸质图书馆。</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>互相借阅，结交盆友，扩宽视野。</h4>
            <h4><span class="glyphicon glyphicon-ok-circle"></span>把自己的书方便的管理起来，一目了然。</h4>
             <div class="" id="">
                 <h3>每个网友分享基本书,
                 我们身边就有一个属于自己的超级移动图书馆</h3>
             </div>
        </div>
        <div>
            <img src="../image/图层-8.png">
        </div>
    </div>
    <div class="row" id="thirsty">
        <h2>我们的特点</h2>
        <div>
            <img src="../image/矢量智能对象.png">
        </div>
    </div>
    <div class="row" id="lunbo">
        <h3>因为分享，所以喜阅</h3>
        <!--轮播-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- 轮播（Carousel）指标 -->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ul>

            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner bor_btm" role="listbox">
                <div class="item active">
                    <ul>
                        <li> <img src="../image/1.png" ></li>
                        <li> <img src="../image/2.png" ></li>
                        <li> <img src="../image/3.png" ></li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li> <img src="../image/4.png" ></li>
                        <li> <img src="../image/5.png" ></li>
                        <li> <img src="../image/6.png" ></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <div class="row" id="footer">
     <p class="lixi">联系我们</p>
         <div class="fankui">
             <span class="product">产品反馈:</span> david.zhu@molibrary.com
             &nbsp;&nbsp;&nbsp;&nbsp;
             <span class="product">商务合作:</span>  772060413@qq.com</div>

     </div>
</div>
<script>
    $(function () {
        $('#myCarousel').carousel({
            interval:3000,
        });
    })
</script>
</body>
</html>